@page
@model ReportGenerator.Pages.ProjectParameters.DetailsModel

@{
    ViewData["Title"] = "查看";
}

<h1>查看</h1>

<div>
    <h4>项目参数</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectParameter.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjectParameter.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectParameter.ALE)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjectParameter.ALE)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectParameter.Xc1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjectParameter.Xc1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectParameter.Xc2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjectParameter.Xc2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectParameter.SignificantDigits)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjectParameter.SignificantDigits)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ProjectParameter.ID">编辑</a> |
    <a asp-page="./Index">返回</a>
</div>
