@page
@model ReportGenerator.Pages.QuantitativeReports.DetailsModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8" />
    <!-- 强制Chromium内核，作用于360浏览器、QQ浏览器等国产双核浏览器 -->
    <meta name="renderer" content="webkit" />
    <!-- 强制Chromium内核，作用于其他双核浏览器 -->
    <meta name="force-rendering" content="webkit" />
    <!-- 如果有安装 Google Chrome Frame 插件则强制为Chromium内核，否则强制本机支持的最高版本IE内核，作用于IE浏览器 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="stylesheet" href="~/css/detailPage.css" asp-append-version="true" />
    <title>
        同一检测项目不同检测系统的比对结果_@(Model.Report.Item)_@(Model.Report.TargetInstrumentName)&@(Model.Report.MatchInstrumentName)
    </title>
</head>
<body>
    <p class="title">
        广州金域医学检验中心有限公司
        <br>
        Guangzhou Kingmed Center for Clinical Laboratory
    </p>
    <p class="foot">
        Results comparison of same test item on different testing system and Report
        <br>
        同一检测项目不同检测系统结果比对报告
    </p>
    <div class="front-page">
        <h1>Results comparison of same test item on different testing system and Report</h1>
        <h1>同一检测项目不同检测系统结果比对报告</h1>
        <br>
        <h2>比对项目名称：@Html.DisplayFor(model => model.Report.Item)</h2>
        <h2>检测系统A：@Html.DisplayFor(model => model.Report.TargetInstrumentName)</h2>
        <h2>检测系统B：@Html.DisplayFor(model => model.Report.MatchInstrumentName)</h2>
        <h2>上次验证时间：@Model.Report.LastInvestigationDate.GetValueOrDefault().ToString("yyyy年MM月")</h2>
        <br>
        <h2>Protocol ID：@Html.DisplayFor(model => model.Report.ProtocalID)</h2>
        <h2>代码：@Html.DisplayFor(model => model.Report.ProtocalID)</h2>
    </div>

    <div class="content">
        <h3>一、比对目的:</h3>
        <p>@Html.DisplayFor(model => model.Report.Purpose)</p>
        <h3>二、比对数据:</h3>
        <div id="Report">
            <div>
                <h3 class="h3 text-center">同一检测项目不同检测系统/方法的比对结果登记表</h3>
            </div>

            <div class="row">
                <p class="col-md-12 text-right">表号：GZKM-SOP03.22.01</p>
            </div>

            <table class="table">
                <tbody>
                    <tr>
                        <td colspan="3">
                            比对项目名称：@Html.DisplayFor(model => model.Report.Item)
                        </td>
                    </tr>
                    <tr>
                        <td width="26%"></td>
                        <td class="text-center" width="37%">检测系统A</td>
                        <td class="text-center" width="37">检测系统B</td>
                    </tr>
                    <tr>
                        <td>检测设备或检测方法：</td>
                        <td class="text-center">@Html.DisplayFor(model => model.Report.TargetInstrumentName)</td>
                        <td class="text-center">@Html.DisplayFor(model => model.Report.MatchInstrumentName)</td>
                    </tr>
                    <tr>
                        <td>检测试剂/批号：</td>
                        @{
                            string ReagentLotClass = "text-center";

                            @if (Model.Report.TargetReagentLot != null && Model.Report.TargetReagentLot.Length > 20)
                            {
                                ReagentLotClass = "";
                            }
                        }
                        <td class="@ReagentLotClass">@Html.DisplayFor(model => model.Report.TargetReagentLot)</td>
                        <td class="@ReagentLotClass">@Html.DisplayFor(model => model.Report.MatchReagentLot)</td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <div class="row">
                                <span>检测日期：@Html.DisplayFor(model => model.Report.StartTestDate) 至 @Html.DisplayFor(model => model.Report.EndTestDate)</span>
                                <span class="col-md-3 text-center">评估日期：@Html.DisplayFor(model => model.Report.EvaluationDate)</span>
                                <span class="col-md-3 text-right">检测人员：@Html.DisplayFor(model => model.Report.Technician)</span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="table">
                <thead>
                    <tr class="table-active text-center">
                        <td>样本编号</td>
                        <td>检测系统A结果(@(Html.DisplayFor(Model => Model.Report.Unit)))</td>
                        <td>检测系统B结果(@(Html.DisplayFor(Model => Model.Report.Unit)))</td>
                        <td>偏倚/一致性判断</td>
                    </tr>
                </thead>
                <tbody>
                    @{
                        // 用于生成实验号和结果列表
                        var SampleName = Model.Report.SampleName.Split(",").ToList();
                        var TargetResult = Model.Report.TargetResult.Split(",").ToList();
                        var MatchResult = Model.Report.MatchResult.Split(",").ToList();
                        var Bias = Model.Report.Bias.Split(",").ToList();
                        var YorN = Model.Report.YorN.Split(",").ToList();
                        var halfALE = Model.Report.ALE / 2;
                    }

                    @for (int i = 0; i < SampleName.Count; i++)
                    {
                        var samplename = SampleName[i];
                        var targetResult = TargetResult[i];
                        var matchResult = MatchResult[i];
                        var bias = Bias[i];
                        var YN = YorN[i];

                        <tr class="result text-center">
                            <td width="26%">@samplename</td>
                            <td width="24%">@targetResult</td>
                            <td width="24%">@matchResult</td>
                            <td width="26%">@bias / @YN</td>
                        </tr>
                    }
                </tbody>
            </table>

            <table class="table">
                <tbody>
                    @{
                        var a = Model.Report.a;
                        var b = Model.Report.b;
                        var aUCI = Model.Report.aUCI;
                        var bUCI = Model.Report.bUCI;
                        var aLCI = Model.Report.aLCI;
                        var bLCI = Model.Report.bLCI;
                        var Xc1 = Model.Report.Xc1;
                        var Xc2 = Model.Report.Xc2;

                        double MaxSEDivXc(double Xc)
                        {
                            // 返回最大SE/Xc
                            var result = Math.Round(Math.Max(Math.Abs((bLCI * Xc + aLCI) / Xc - 1), Math.Abs((bUCI * Xc + aUCI) / Xc - 1)), 3);
                            return result;
                        }
                    }

                    <tr>
                        <td colspan="4">
                            <p>
                                不同检测系统结果比对分析：<br />
                                回归方程为 y = @a.ToString("F4") + @b.ToString("F4") x，
                                斜率b的95%置信区间为（@bLCI.ToString("F4") ~ @bUCI.ToString("F4")），
                                截距a的95%置信区间为（@aLCI.ToString("F4") ~ @aUCI.ToString("F4")）。

                                代入医学决定水平值Xc1=@(Xc1)算出Y为@((b * Xc1 + a).ToString("F4"))
                                （Y的置信区间为@((bLCI * Xc1 + aLCI).ToString("F4")) ~ @((bUCI * Xc1 + aUCI).ToString("F4"))），
                                最大SE/Xc%为@(MaxSEDivXc(Xc1).ToString("P1"))，
                                @(MaxSEDivXc(Xc1) < halfALE ? "小于" : "大于等于")1/2ALE @(halfALE.ToString("P1"))。

                                @if (Xc2 != Xc1)
                                {
                                    <text>
                                        代入医学决定水平值Xc2=@(Xc2)算出Y为@((b * Xc2 + a).ToString("F4"))
                                        （Y的置信区间为@((bLCI * Xc2 + aLCI).ToString("F4")) ~ @((bUCI * Xc2 + aUCI).ToString("F4"))），
                                        最大SE/Xc%为@(MaxSEDivXc(Xc2).ToString("P1"))，
                                        @(MaxSEDivXc(Xc2) < halfALE ? "小于" : "大于等于")1/2ALE @(halfALE.ToString("P1"))。
                                    </text>
                                }
                            </p>
                        </td>
                    </tr>
                    <tr style="page-break-inside:avoid">
                        <td colspan="2" width="50%">
                            @*(描述性统计)*@
                            <table>
                                <tr>
                                    <td>Variable X</td>
                                    <td>@Html.DisplayFor(model => model.Report.TargetInstrumentName)</td>
                                </tr>
                                <tr>
                                    <td>Variable Y</td>
                                    <td>@Html.DisplayFor(model => model.Report.MatchInstrumentName)</td>
                                </tr>
                                <tr>
                                    <td>Sample size</td>
                                    <td class="text-right">@SampleName.Count</td>
                                </tr>
                            </table>
                            @{
                                var doubleTargetResult = TargetResult.Select(x => double.Parse(x)).ToList();
                                var doubleMatchResult = MatchResult.Select(x => double.Parse(x)).ToList();
                            }
                            <table>
                                <tr>
                                    <td width="44%"></td>
                                    <td width="28%">Variable X</td>
                                    <td width="28%">Variable Y</td>
                                </tr>
                                <tr>
                                    <td>Lowest value</td>
                                    <td class="text-right">@doubleTargetResult.Min().ToString("F4")</td>
                                    <td class="text-right">@doubleMatchResult.Min().ToString("F4")</td>
                                </tr>
                                <tr>
                                    <td>Highest value</td>
                                    <td class="text-right">@doubleTargetResult.Max().ToString("F4")</td>
                                    <td class="text-right">@doubleMatchResult.Max().ToString("F4")</td>
                                </tr>
                                <tr>
                                    <td>Arithmetic mean</td>
                                    <td class="text-right">@doubleTargetResult.Average().ToString("F4")</td>
                                    <td class="text-right">@doubleMatchResult.Average().ToString("F4")</td>
                                </tr>
                                <tr>
                                    <td>Median</td>
                                    <td class="text-right">@doubleTargetResult.Median().ToString("F4")</td>
                                    <td class="text-right">@doubleMatchResult.Median().ToString("F4")</td>
                                </tr>
                                <tr>
                                    <td>Standard deviation</td>
                                    <td class="text-right">@doubleTargetResult.StandardDeviation().ToString("F4")</td>
                                    <td class="text-right">@doubleMatchResult.StandardDeviation().ToString("F4")</td>
                                </tr>
                                <tr>
                                    <td>Standard error of the mean</td>
                                    <td class="text-right">@((doubleTargetResult.StandardDeviation() / Math.Sqrt(doubleTargetResult.Count)).ToString("F4"))</td>
                                    <td class="text-right">@((doubleMatchResult.StandardDeviation() / Math.Sqrt(doubleMatchResult.Count)).ToString("F4"))</td>
                                </tr>
                            </table>

                            <table>
                                <tr>
                                    <td colspan="2">Regression Equation</td>
                                </tr>
                                <tr>
                                    <td colspan="2">y = @a.ToString("F4") + @b.ToString("F4") x</td>
                                </tr>
                                <tr>
                                    <td>Intercept A</td>
                                    <td class="text-right">@a.ToString("F4")</td>
                                </tr>
                                <tr>
                                    <td>95% CI</td>
                                    <td class="text-right">@aLCI.ToString("F4") to @aUCI.ToString("F4")</td>
                                </tr>
                                <tr>
                                    <td>Slope B</td>
                                    <td class="text-right">@b.ToString("F4")</td>
                                </tr>
                                <tr>
                                    <td>95% CI</td>
                                    <td class="text-right">@bLCI.ToString("F4") to @bUCI.ToString("F4")</td>
                                </tr>
                                <tr>
                                    <td>Cusum test for linearity</td>
                                    <td>No significant deviation from linearity(@(Model.Report.P > 0.1 ? "P>0.1" : "P<=0.1"))</td>
                                </tr>
                            </table>
                        </td>
                        <td colspan="2" width="50%">
                            <img width="300" height="300" src=@Model.Report.PicturePath asp-append-version="true" alt="线性回归图" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <p>
                                评估总结(Evaluation Summary)：<br />
                                @if (Model.Report.Status == "未通过")
                                {
                                    <text>
                                        本次实验中仪器比对结果不合格。
                                    </text>
                                }
                                else
                                {
                                    <text>
                                        本次实验中仪器比对结果合格，结果表明
                                        @(Html.DisplayFor(model => model.Report.TargetInstrumentName))和@(Html.DisplayFor(model => model.Report.MatchInstrumentName))
                                        系统进行@(Html.DisplayFor(model => model.Report.Item))检测没有显著性差异，
                                        @(Html.DisplayFor(model => model.Report.MatchInstrumentName))能有效地进行@(Html.DisplayFor(model => model.Report.Item))项目的检测工作。
                                    </text>
                                }
                            </p>
                        </td>
                    </tr>
                    @if (@Model.Report.Remark != null)
                    {
                        <tr class="d-print-none">
                            <td colspan="4">
                                <p>
                                    备注(Remark)：<br />
                                    @(Html.DisplayFor(model => model.Report.Remark))
                                    @if (Model.Report.Remark.Split("，").Length >= 2)
                                    {
                                        <span class="text-danger h4">（离群值大于一个，请重新挑选数据进行计算！）</span>
                                    }
                                </p>
                            </td>
                        </tr>
                    }
                    <tr>
                        <td colspan="2" style="border-right:hidden">调查者(Investigator)：@Html.DisplayFor(model => model.Report.Investigator)</td>
                        <td colspan="2" style="border-left:hidden">日期(Date)：@Html.DisplayFor(model => model.Report.InvestigationDate)</td>
                    </tr>
                    <tr>
                        <td colspan="2" style="border-right:hidden">学科主任(Section director)：@Html.DisplayFor(model => model.Report.Approver)</td>
                        <td colspan="2" style="border-left:hidden">日期(Date)：@Html.DisplayFor(model => model.Report.ApprovalDate)</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/paged.polyfill.js"></script>
    <script>
        $(document).ready(function () {
            setTimeout("self.print();", 800);
        });
    </script>
</body>
</html>
